#  SPDX-FileCopyrightText: 2021 Philipp Basler, Margarete Mühlleitner and Jonas Müller
#
#  SPDX-License-Identifier: GPL-3.0-or-later

build/
tmp/
tmp*
local/
.*
.vscode
.atom
analyze*.py
*.aux
*.log
*.out
*.synctex.gz

CMakeUserPresets.json
__pycache__/*

test_package/build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/cmake.check_cache
