# SPDX-FileCopyrightText: 2021 Philipp Basler, Margarete Mühlleitner and Jonas Müller
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: codecov CI

on:
  push:
    branches: [ master]
  pull_request:
    branches: [ master, develop, CodeCovFaultFix ]
  workflow_dispatch:
  
jobs:  
  coverage:
    runs-on: ubuntu-20.04
    if: "!contains(github.event.head_commit.message, 'skip-ci')"
    
    steps:
    - uses: actions/checkout@v3
      with:
          persist-credentials: false
    - name : installPackages
      run : sudo apt-get update && sudo apt-get install --no-install-recommends --yes libgsl-dev libeigen3-dev libnlopt-dev libnlopt-cxx-dev libboost-all-dev lcov
    - name: Get number of CPU cores
      uses: SimenB/github-actions-cpu-cores@v1
      id: cpu-cores
    - name: cmake
      run: mkdir build && cd build && cmake .. -DEnableCoverage=On
    - name: compile
      run: cd build && cmake --build . -j${{ steps.cpu-cores.outputs.count }}
    - name: Generate Coverage
      run: cd build && cmake --build . -j${{ steps.cpu-cores.outputs.count }} -t coverage
    - name: Upload coverage
      uses: codecov/codecov-action@v3
      with:
        flags: unittests # optional
        name: codecov-umbrella # optional
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)
