# SPDX-FileCopyrightText: 2021 Philipp Basler, Margarete Mühlleitner and Jonas Müller
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Unit tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master, develop ]
  workflow_dispatch:
    

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }} 
  cancel-in-progress: true

jobs:
  tests-fullSetup:
    strategy:
      matrix:
        setup: [ {os: ubuntu-latest, profile: conan-linux-x86_64-release}, {os: windows-latest, profile: conan-windows-x86_64-release}, {os: macos-latest, profile: conan-macos-x86_64-release}] 
    runs-on: ${{matrix.setup.os}}
    if: "!contains(github.event.head_commit.message, 'skip-ci')"

    steps:
    - uses: actions/checkout@v4
      with:
          persist-credentials: false
    - uses: actions/setup-python@v5
      with:
        python-version: '3.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax
        architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
    - name: Install conan
      run: pip install conan>2

    - name: Get number of CPU cores
      uses: SimenB/github-actions-cpu-cores@v2
      id: cpu-cores
    - run: python3 Setup.py
    - name: cmake
      run: cmake --preset ${{matrix.setup.profile}}
    - name: build
      run: cmake --build --preset ${{matrix.setup.profile}} -j${{ steps.cpu-cores.outputs.count }}
    - name: run tests
      run: ctest --preset ${{matrix.setup.profile}} -j --output-on-failure 
    
      


